.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

/* .ct{
    margin-top: 2rem
} */

a {
  text-decoration: none;
}

/* xs */

@media (min-width: 375px) {
  * {
    font-size: 0.95rem;
  }

  .wrapper,
  .header {
    width: 90%;
  }

  .slogan {
    font-size: var(--size-xl) !important;
  }
}

/* sm */
/* @media (min-width: 640px) {
    .wrapper{
        width: 65%;
    }
} */

/* md */
/* @media (min-width: 768px) {
    .wrapper{
        width: 60%;
    }
} */

/* lg */
@media (min-width: 1024px) {
  * {
    font-size: var(--size-md);
  }

  .wrapper {
    width: 45%;
  }

  .header {
    width: 50%;
  }
}

/* xl */
/* @media (min-width: 1280px) {
    .wrapper{
        width: 50%;
    }
} */

/* 2xl */
/* @media (min-width: 1536px) {
    .wrapper{
        width: 40%;
    }
}  */
